<div class="page-header">
  <%= link_to new_produto_upsell_promocao_path(@produto, @upsell), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to produto_upsell_promocao_path(@produto, @upsell, @promocao), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editando promocao</h1>
</div>

<%= render 'form' %>
