<div class="page-header">
  <%= link_to produto_upsell_promocoes_path(@produto, @upsell), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo promocao</h1>
</div>

<%= render 'form' %>
