<% if @usuario.present? && @usuario.id.present? %>
  <% if @usuario.cpf.blank? || @mudasenha.present? %>
  <script src="/funil/pagamento.js?<%= Time.now.to_i %>" ></script>
  <script src="/funil/facebookConnectPlugin.js"></script>
  <script src="/funil/htmlFacebookConnectPlugin.js"></script>
  <br>
  <br>
  <style type="text/css">
    .box-progress{
      width: 100%;
      text-align: center;
      position: relative;
    }

    .progress{
      height: 15px;
      background-color: #777;
      position: relative;
      display: inline-block;
      width: 95%;
    }

    .progress .progress-bar{
      position: absolute;
      height: 100%;
      background-color: #4ac132;
      width: 0%;
    }

    .progress span{
      font-size: 12px;
      position: absolute;
      margin-left: -35px;
    }
  </style>
  <div class="row" style="width: 100%;display: inline-block;text-align: left;">
    <h1 style="margin-top: 30px;color: #fff">Confirme os seus dados</h1>
    <div class="form-container active mt-4 cadastro">
       <form class="cadastro">
          <div class="form-row form-container mt-4">
            <%= render 'include_form_boleto_99run' %>
            <div id="stepFim" style="display: none" class="col-12 mt-5 text-center">
              <a class="button-default-green d-block w-100" href="javascript:;" onclick="promocao.atualizar(this, <%= @pagina.id %>, <%= @pagina.produto_id %>);" placeholder="CVC" >Atualizar cadastro</a>
            </div>
          </div>
      </form>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>
    <script type="text/javascript">
      $('.telefone').mask('(99) 99999-9999');
      $('.cpf').mask('999.999.999-99');
      $(".escondeNoPassoCadastro").hide();
    </script>
  </div>
  <% end %>
<% end %>
