<% if @boleto == "true" %>
    <%= render 'include_pagamento_boleto_99run' %>
<% else %>
    <%= render 'include_pagamento_cartao_99run', preco: @preco %>
<% end %>
<style type="text/css">
  .jsUpsell{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #000;
    z-index: 99999;
    top: -30px;
    left: 0px;
    display: none;
    overflow: scroll;
  }
</style>
<div class="jsUpsell"></div>