<div class="page-header">
  <%= link_to new_produto_pagina_path(@produto), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Pagina
  <% end %>
  <%= link_to produtos_path, class: 'btn btn-primary' do %>
    Produtos
  <% end %>
  <h1>Listando paginas do produto <%= @produto.nome %></h1>
</div>

<div class="table-responsive">
  <%= render 'pagina', {paginas: @paginas} %>
</div>
