header#header-profazedor {
    position: relative;
    background-image: url("../images/bg-profazedor-video.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 684px;

    .title-header {
        color: $white;
        text-transform: uppercase;
        font-family: 'gotham-book';
        font-size: 3em;
        line-height: 48px;

        span {
            font-family: 'gotham-black';
            font-size: 1.7em;
        }
    }

    .subtitle {
        color: $white;
        font-size: 2.5em;
        font-family: 'gotham-bold';
        line-height: 22px;
        margin-top: 75px;

        i {
            font-size: 3em;
        }
    }

    .type{
        color: #707070;
        font-size: 1.5em;
    }

    .description{
        color: $white;
        font-size: 1.0em;
        font-weight: bold;
        font-family: 'Open Sans';
    }

    @media (max-width: $screen-xs) {
        .title-header {
            font-size: 2em;
            line-height: 33px;

            span {
                font-size: 1.5em;
            }
        }

        .subtitle {
            font-size: 1.2em;
        }
    }

    @media (max-width: 320px) {
        .title-header {
            font-size: 1.7em;
            line-height: 27px;

            span {
                font-size: 1.3em;
            }
        }

        .subtitle {
            font-size: 1em;
        }
    }
}

section#lista-series {
    margin-top: -150px;
    font-family: 'gotham-bold';
    padding-bottom: 70px;

    .-aux {
        padding-right: 0px;
        margin-left: 100px;
        max-width: 100%;
    }

    @media (max-width: $screen-xs) {
        .-aux {
            padding-right: 15px;
            margin-left: auto;
            max-width: 100%;
        }
    }

    @media (max-width: 320px) {
        .-aux {
            padding-right: 15px;
            margin-left: auto;
            max-width: 100%;
        }
    }
    
}
