header#header-ultima-chance {
    position: relative;
    background-image: url("../images/bg-ultima-chance-video.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 684px;

    .mt-70{
        margin-top: 70px;
    }

    .title-header {
        color: $white;
        text-transform: uppercase;
        font-family: 'gotham-book';
        font-size: 3em;
        line-height: 48px;

        span {
            font-family: 'gotham-black';
            font-size: 1.7em;
        }

        .gradient-text {
            @include gradient-orange($orange-1, $orange-2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .text-subtitle {
        color: $white;
        font-size: 20px;
        font-family: 'gotham-book';

        span {
            font-family: 'gotham-bold';
        }
    }

    @media (max-width: $screen-xs) {
        .title-header {
            font-size: 2em;
            line-height: 33px;

            span {
                font-size: 1.5em;
            }
        }

        .text-subtitle {
            font-size: 15px;
        }
    }

    @media (max-width: 320px) {
        .title-header {
            font-size: 1.7em;
            line-height: 27px;

            span {
                font-size: 1.3em;
            }
        }

        .text-subtitle {
            font-size: 12px;
        }
    }
}

section#video-ultima-chance{
    margin-top: -400px;
    iframe{
        border-radius: 20px;
    }
}

section#section-comprar {
    margin-top: 50px;
    padding-bottom: 70px;

    .text-subtitle {
        color: $white;
        font-size: 30px;
        font-family: 'gotham-book';
        margin-bottom: 20px;

        span {
            font-family: 'gotham-bold';
        }
    }

    h3 {
        font-size: 30px;
        color: $white;
        font-family: 'gotham-bold';
    }

    h4 {
        font-size: 30px;
        color: $white;
        font-family: 'gotham-book';

        span {
            font-family: 'gotham-bold';
        }
    }

    @media (max-width: $screen-xs) {
        .text-subtitle {
            font-size: 25px;
        }
    }

    @media (max-width: 320px) {
        .text-subtitle {
            font-size: 22px;
        }
    }

    .total {
        margin-top: 30px;
        margin-bottom: 30px;
        color: $white;
        text-transform: uppercase;
        font-family: 'gotham-book';
        font-size: 1.3em;
        line-height: 33px;
        letter-spacing: 3px;

        .price {
            font-size: 3em;
            font-family: 'gotham-black';
            letter-spacing: 0;
        }

        .frete {
            font-family: 'gotham-bold';
            text-transform: lowercase;
            letter-spacing: 0;
            font-size: 28px;

            .badge-gradient {
                text-transform: lowercase;
                font-family: 'gotham-bold';
                padding: 5px 10px;
                @include gradient-orange($orange-1, $orange-2);
                @include border-radius(10px);
            }
        }
    }

    .box-km {
        background-color: $gray-light;
        padding: 25px;
        @include border-radius(25px);

        .text {
            color: $gray;
            font-family: 'gotham-bold';
            font-size: 18px;
        }

        .sizes {
            .btn-size {
                background-color: transparent;
                margin: 5px 10px;
                font-family: 'gotham-bold';
                color: $white;
                font-size: 18px;
                text-transform: uppercase;
                @include border-radius(10px);
            }

            .active {
                box-shadow: none !important;
                outline: none !important;
                background-color: $color-dynamic;
                color: $white;
            }
        }

        form {
            input {
                position: relative;
                background-color: $white;
                padding: 30px 70px;
                border: 0;
                margin: 5px 0;
                @include border-radius(100px);
            }

            i {
                position: absolute;
                font-size: 24px;
                color: $gray-light;
                top: 50%;
                margin-top: -12px;
                left: 35px;
                z-index: 1;
                text-align: center;
            }
        }

        .link {
            a {
                color: $white;
            }
        }

        .ou {
            display: block;
            margin-top: 30px;
            font-size: 18px;
            color: $white;
        }

        .-aux-2 {
            border: 1px solid $white;
            color: $white;
            font-family: 'gotham-bold';
            margin-top: 30px;
            position: relative;
            font-size: 2em;
            line-height: 20px;
            padding: 10px 20px 10px 150px;
            @include border-radius(100px);

            &:after {
                content: '\f02a';
                font-family: "Font Awesome 5 Free";
                position: absolute;
                left: 80px;
                font-size: 2em;
                color: $white;
                top: 50%;
                margin-top: -12px;
                font-weight: 900;

            }

            span {
                font-size: .7em;
                font-family: 'gotham-book';
            }

            &:hover {
                color: $white;
            }
        }
    }

    .-aux {
        width: 350px;
        text-align: center;
    }

    .box-btn{
        margin: 60px auto;
    }

    .link {
        color: #939191;
        text-decoration: underline !important;
    }

    .link:hover {
        color: #fff;
    }
}

@media (max-width: $screen-xs) {
    section#section-medal-corrida {
        .sizes {
            .btn-size {
                font-size: 14px !important;
                margin: 0 !important;
            }
        }

        .-aux,
        .-aux-2 {
            font-size: 1.4em !important;
            line-height: 15px !important;
            padding-left: 20px !important;
            text-align: center;

            &:after {
                display: none;

            }

            span {
                font-size: .7em;
                font-family: 'gotham-book';
            }

            &:hover {
                color: $white;
            }
        }
    }
}