
header#header-home {
    position: relative;
    background-image: url("../images/bg-home-video.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 684px;

    .title-header {
        margin-top: 120px;
        color: $white;
        text-transform: uppercase;
        font-family: 'gotham-book';
        font-size: 3em;
        line-height: 48px;
        
        span{
            font-family: 'gotham-black';
            font-size: 1.7em;
        }
    }

    .subtitle{
        color: $white;
        font-size: 1.8em;
        font-family: 'gotham-bold';
    }

    .play {
        position: absolute;
        top: 50%;
        right: 360px;
        margin-top: -194.5px;
    } 

    @media (max-width: $screen-xs) {
        .navbar-brand{
            text-align: center;
            margin: 0 auto;
            display: block;
            img{
                width: 230px;
            }
        }
        .title-header {
            text-align: center;
            margin-top: 30px;
            font-size: 2em;
            line-height: 33px;
            span{
                font-size: 1.5em;
            }
        }

        .subtitle{
            font-size: 1.2em;
        }

        .play {
            top: 50%;
            right: 0;
            left: 0;
            margin: -190px auto;
            text-align: center;
        } 
    }

    @media (max-width: 320px) {
        .title-header {
            font-size: 1.7em;
            line-height: 27px;
            span{
                font-size: 1.3em;
            }
        }

        .subtitle{
            font-size: 1em;
        }

        .play {
            top: 50%;
            right: 0;
            left: 0;
            margin: -210px auto;
            text-align: center;
        } 
    }
}

section#after-training-home {
    position: relative;
    z-index: 2;
    margin-top: -280px;

    .series-box {
        border-radius: 30px;
        background-color: #000;
    }

    .img-box-one {
        border-radius: 30px 0px 0px 30px;
        margin-left: -15px;
    }

    .txt-box {
        color: $white;
        padding-top: 30px;

        .title {
            font-family: 'gotham-bold';
        }

        .season {
            color: #808080;
            font-size: 18px;
            margin-bottom: 0px;
            font-family: 'gotham-bold' !important;
        }

        .fa-star {
            color: $color-dynamic;
            font-size: 12px;
        }
    }
}

@media (max-width: $screen-sm) {
    section#after-training-home {
        margin-top: -350px;
        .title-defaut {
            font-size: 2em;
            line-height: 33px;
            text-align: center;
          }
    
        .series-box {
            .reset-p-mobile {
                padding: 0px;
            }
    
            .col-md-6 {
                margin-bottom: 40px;
            }
        }
    
        .img-box-one {
            border-radius: 30px 30px 0px 0px;
            margin-left: 0px;
            width: 100%;
        }
    
        .img-box-two {
            margin-left: 0px;
            width: 100%;
        }
    }
}

section#register-home {
    margin-top: 50px;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        right: -55px;
        top: -65px;
        width: 753px;
        height: 675px;
        background-image: url("../images/bg-pizza-home.png");
        background-size: cover;
        background-repeat: no-repeat;

    }
    .title-defaut{
        line-height: 30px;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            left: -55px;
            top: 55px;
            background-image: url("../images/arrow-input.png");
            width: 38px;
            height: 98px;
            background-size: cover;
        }
    }

    .form-country{
        width: 540px;
        max-width: 100%;
        position: relative;
        .input-group .form-control:focus{
            z-index: 0!important;
        }
        input{
            background-color: $white;
            border: 0;
            height: 80px;
            margin-top: 10px;
            border: 0px;
            box-shadow: none;
            @include border-radius(0 50px 50px 0);
        }

        .-aux{
            position: absolute;
            right: -80px;
            top: 50%;
            margin-top: -20px;
            z-index: 2;
            padding: 13px 25px;
            i{
                font-size: 20px;
                margin-right: 5px;
            }
        }
    }

    .show{
        display: table-cell!important;
    }

    #btn-country {
        height: 80px;
        margin-top: 10px;
        border: 0px;
        background-color: #fff !important;
        color: #000 !important;

        .caret {
            display: none;
        }

        
    }
}

@media (max-width: $screen-sm) {
    section#register-home {
        &:after{
            display: none;
        }
        .title-defaut{
            line-height: 26px;
            font-size: 1.7em;
            text-align: center;
            &:after{
                display: none;
            }

            .bold-text{
                font-size: 1.1em;
            }
        }

        .form-country{
            width: 100%;
            .input-group .form-control:focus{
                z-index: 0!important;
            }
            input{
                background-color: $white;
                border: 0;
                height: 50px;
            }
    
            .-aux{
                text-align: center;
                position: static;
                display: block;
                margin: 10px auto;
                width: 220px;
            }
        }
    
        #btn-country {
            padding: 15px 17px;
            height: 49.5px;
        }
    }
}

section#section-vanessa-home {
    margin-top: 150px;
    position: relative;
    &:after{
        content: '';
        position: absolute;
        left: 80px;
        top: -65px;
        width: 593px;
        height: 920px;
        background-image: url("../images/vanessa.png");
        background-size: contain;
        background-repeat: no-repeat;

    }
    .box-text-1{
        position: relative;
        margin-top: 130px;
        &:after{
            content: '01';
            position: absolute;
            left: -40px;
            top: -75px;
            font-family: 'gotham-black';
            color: $gray-light;
            font-size: 7em;
            z-index: -1;
        }

        p{
            color: $white;
            &:nth-child(1){
                font-family: 'gotham-bold';
            }
        }
    }

    .box-text-2{
        position: relative;
        margin-top: 230px;
        &:after{
            content: '02';
            position: absolute;
            left: -40px;
            top: -75px;
            font-family: 'gotham-black';
            color: $gray-light;
            font-size: 7em;
            z-index: -1;
        }

        p{
            color: $white;
            &:nth-child(1){
                font-family: 'gotham-bold';
            }
        }
    }
}

@media (max-width: $screen-sm) {
    section#section-vanessa-home {
        margin-top: 50px;
        &:after{
            display: none;
        }

        .box-text-1{
            margin-top: 20px;
        }

        .box-text-2{
            margin-top: 50px;
        }
    }
}

section#section-receitas-home{
    margin-top: 180px;
    margin-bottom: 50px;
    .slide-receita{
        .box{
            cursor: grab;
            img{
                @include border-radius(25px);
            }

            p{
                color: $white;
                font-family: 'gotham-bold';
            }
        }

        .owl-nav{
            .owl-prev{
                position: absolute;
                color: $white;
                right: 50px;
                top: -50px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                margin-top: -20px;
                @include gradient-orange($orange-1, $orange-2);
                @include border-radius(50%);
            }

            .owl-next{
                position: absolute;
                color: $white;
                right: 0px;
                top: -50px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                margin-top: -20px;
                @include gradient-orange($orange-1, $orange-2);
                @include border-radius(50%);
            }
        }
    }
}
@media (max-width: $screen-sm) {
    section#section-receitas-home {
        margin-top: 20px;
        text-align: center;
    }
}