header#header-homedashboard {
    position: relative;
    background-image: url("../images/bg-homedashboard-video.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 684px;

    .info-perfil {
        color: $white;
        font-family: 'gotham-bold';
        font-size: 1em;

        .info {
            font-family: 'gotham-book';
            font-size: 1em;
        }
    }

    .name-perfil {
        color: $white;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 24px;
        line-height: 1.33;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        padding: 6px 0px;
        border-radius: 15px;
        text-align: center;
        font-size: 12px;
        line-height: 1.42857;
        background-color: $color-dynamic;
        color: $white;
    }

    .vertical-btn-a {
        top: 60px;
        position: relative;
    }



}

section#section-slide-corrida-home {
    margin-top: -440px;
    font-family: 'gotham-bold';
    font-size: 20px;

    .slide-corrida {
        .item {
            height: 390px;
        }

        .box {
            position: relative;

            .-aux {
                position: absolute;
                bottom: -30px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }

        .owl-nav {
            .owl-prev {
                position: absolute;
                color: $white;
                left: -18px;
                top: 150px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                margin-top: -20px;
                @include gradient-orange($orange-1, $orange-2);
                @include border-radius(50%);
            }

            .owl-next {
                position: absolute;
                color: $white;
                right: -18px;
                top: 150px;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                margin-top: -20px;
                @include gradient-orange($orange-1, $orange-2);
                @include border-radius(50%);
            }
        }

        .owl-dots {
            .active {
                width: 35px !important;
                height: 15px;
                border-radius: (50px) !important;
                @include gradient-orange($orange-1, $orange-2);

            }

            .owl-dot {
                margin: auto 5px;
                width: 15px;
                height: 15px;
                background-color: $gray-light;
                @include border-radius(50%);
            }
        }

    }

    @media (max-width: 320px) {
        .slide-corrida {
            .item {
                height: 250px !important;
            }
        }
    }

    @media (max-width: $screen-xs) {
        .slide-corrida {
            .item {
                height: 310px;
            }
        }
    }
}

 @media (max-width: 320px) {
     section#section-slide-corrida-home {
         margin-top: -400px;
         font-family: 'gotham-bold';
     }
 }

 @media (max-width: $screen-xs) {
     section#section-slide-corrida-home {
         margin-top: -400px;
         font-family: 'gotham-bold';
     }
 }

section#lista-episodios-home {
    margin-top: 50px;
    font-family: 'gotham-bold';
    padding-bottom: 70px;
    font-size: 20px;

    iframe {
        border-radius: 20px;
    }

    .-aux {
        padding-right: 0px;
        margin-left: 100px;
        max-width: 100%;
    }

    @media (max-width: $screen-xs) {
        .-aux {
            padding-right: 15px;
            margin-left: auto;
            max-width: 100%;
        }
    }

    @media (max-width: 320px) {
        .-aux {
            padding-right: 15px;
            margin-left: auto;
            max-width: 100%;
        }
    }

}

section#lista-series-assistidas {
    margin-top: 50px;
    font-family: 'gotham-bold';
    padding-bottom: 70px;
    font-size: 20px;

    .item {
        position: relative;

        .progress {
            height: 1.8rem;
            font-size: 1rem;
            background-color: #101010;
            border-radius: 1rem;
            max-width: 100%;

        }

        .assistido {
            background-color: $green;
            border-radius: 1rem;
        }

        .overporcent {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0.7;
            transition: .5s ease;
            background: rgba(0, 0, 0, 1);
            z-index: 999;
            border-radius: 34px;
        }

        span {
            position: absolute;
            font-family: 'gotham-bold';
            font-size: 30px;
            z-index: 9999;
            opacity: 1;
            top: 40%;
            color: #fff;
            left: 23%;
        }

        @media (max-width: $screen-xs) {
            span {
                top: 40%;
                left: 41%;
            }
        }

        @media (max-width: 320px) {
            span {
                top: 40%;
                left: 26%;
            }
        }
    }

    .-aux {
        padding-right: 0px;
        margin-left: 100px;
        max-width: 100%;
    }

    @media (max-width: $screen-xs) {
        .-aux {
            padding-right: 15px;
            margin-left: auto;
            max-width: 100%;
        }
    }

    @media (max-width: 320px) {
        .-aux {
            padding-right: 15px;
            margin-left: auto;
            max-width: 100%;
        }
    }

}

section#lista-professores {
    margin-top: 50px;
    font-family: 'gotham-bold';
    padding-bottom: 70px;
    font-size: 20px;

    .item {

        a {
            position: relative;
            display: block;
            .overporcent {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0.7;
                transition: .5s ease;
                background: rgba(0, 0, 0, 1);
                z-index: 999;
                border-radius: 100%;
            }

            span {
                position: absolute;
                font-family: 'gotham-bold';
                font-size: 30px;
                z-index: 9999;
                opacity: 1;
                top: 40%;
                color: #fff;
                left: 23%;
            }

            @media (max-width: $screen-xs) {
                span {
                    top: 40%;
                    left: 41%;
                }
            }

            @media (max-width: 320px) {
                span {
                    top: 40%;
                    left: 26%;
                }
            }
        }

        

        .name-active{
            margin-top: 30px;
            color: $white;
        }

        .name-block {
            margin-top: 30px;
        }
    }

    .-aux {
        padding-right: 0px;
        margin-left: 100px;
        max-width: 100%;
    }

    @media (max-width: $screen-xs) {
        .-aux {
            padding-right: 15px;
            margin-left: auto;
            max-width: 100%;
        }
    }

    @media (max-width: 320px) {
        .-aux {
            padding-right: 15px;
            margin-left: auto;
            max-width: 100%;
        }
    }

}
