<div class="page-header">
  <%= link_to produto_upsell_index_path(@produto), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Novo upsell</h1>
</div>

<%= render 'form' %>
